.signin-container {
    width: 100%;
}

.signin-container > input {
    width: 60%;
    margin: 5% 20%;
    box-sizing: border-box;
    padding: 10px;
    border: 1px solid darkgray;
    border-radius: 5px;
}