.signin-container {
    width: 100%;
}

input {
    width: 90%;
    box-sizing: border-box;
    padding: 7px;
    margin: 10px;
    border: 1px solid #bdbdbd;
    border-radius: 6px;
    color: #6e6e6e;
    text-align: end;
}

input:hover {
    box-shadow: 3px 3px 7px -4px #cfcfcf;
}

input:focus {
    outline: none;
}

.captcha {
    display: flex;
    flex-flow: row nowrap;
    justify-content: center;
    align-items: center;
    width: 90%;
    padding: 7px;
    font-size: 18px;
    color: #686666;
}

.captcha p {
    width: 65%;
}

.captcha img {
    width: 32px;
    height: 32px;
    cursor: pointer;
    border-radius: 50px;
}

.captcha input {
    text-align: start;
}