.toolbar {
    height: 110px;
    position: fixed;
    width: 100%;
    top: 0;
    z-index: 100;
}

.toolbar>div {
    background-color: #8c0048;
    height: 70px;
    width: 100%;
    box-sizing: border-box;
    padding: 0 30px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.toolbar>nav {
    background-color: rgb(248, 248, 248);
    height: 40px;
    width: 100%;
    border-bottom: 1px solid #efefef
}

.nav-items {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    position: relative;
}

.nav-items span {
    cursor: pointer;
}

.nav-items  div[class='about-us'] {
    position: absolute;
    background-color: rgb(248, 248, 248);
    left: 46vw;
    border: 1px solid #6b6b6b47;
    padding: 15px;
    top: 8vh;
    width: 300px;
    box-shadow: 0px 0px 5px 0px #80808094;
    border-radius: 6px;
    color: gray;
}

.nav-items  div[class='contact-us'] {
    position: absolute;
    background-color: rgb(248, 248, 248);
    left: 20vw;
    border: 1px solid #6b6b6b47;
    padding: 15px;
    top: 8vh;
    width: 300px;
    box-shadow: 0px 0px 5px 0px #80808094;
    border-radius: 6px;
    color: gray;
    }

.toolbar>nav span {
    color: #445778;
    padding: 0 10px;
    font-weight: bold;
}

.shop,
.notif {
    padding-left: 20px;
    cursor: pointer;
    font-size: 0px;
    font-weight: bold;
}

.badge {
    background-color: #2db193;
    padding: 0 6px;
    border-radius: 50px;
    margin-bottom: 15px;
    font-size: 12px;
}

.hamberger-menu {
    display: none;
    position: relative;
}

.hamberger-menu-items {
    position: absolute;
    display: flex;
    background-color: rgb(248, 248, 248);
    border-left: 1px solid #e1dddd;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: flex-start;
    align-items: center;
    width: 180px;
    height: 100vh;
    right: 0px;
    padding: 20px;
    z-index: 105;
    transition: all 0.3s linear;
}

.hamberger-menu-items ul {
    width: 100%;
    margin-block: 0px;
    margin: 7px 20px;
    padding-inline-start: 0px;
    display: flex;
    flex-direction: column;
    align-items: end;
}

.hamberger-menu-items ul span,
.hamberger-menu-items ul a {
    padding: 10px 0;
}

@media all and (max-width: 1000px) {
    .toolbar>nav {
        display: flex;
        justify-content: end;
        align-items: center;
    }

    .nav-items {
        display: none;
    }

    .hamberger-menu {
        display: flex;
    }
}



/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('../../assets/icons/flUhRq6tzZclQEJ-Vdg-IuiaDsNc\ \(1\).woff2') format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}