@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('../../assets/icons/flUhRq6tzZclQEJ-Vdg-IuiaDsNc\ \(1\).woff2') format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
.carousel-container {
    border-bottom: 1px solid rgb(165, 165, 165);
    box-sizing: border-box;
    width: 100%;
    height: 90vh;
    box-sizing: border-box;
    padding: 25px;
    background-repeat: no-repeat;
    background-clip: border-box;
    background-size: cover;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 60px;
    transition:  all 0.5s ease-out;
}

.carousel-container i {
    background-color: #2db193;
    padding: 5px;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 50px;
    font-size: 18px;
}

.carousel-text {
    color: #0f2143; 
    font-size:40px;
    padding-bottom: 250px;
}

/* 
.left-icon {
    top: 40vh;
    left: 30px;
}

.right-icon {
    top: 40vh;
    right: 30px;
} */
/* 
@media all and (max-width: 1200px) {
    .carousel-container {
        background-size: cover;
    }
} */