@font-face {
  font-family: 'yekan';
  src: url('./assets//fonts/yekan/BYekan.eot');
  src: url('./assets/fonts/yekan/BYekan.svg') format('eot');
  src: url('./assets/fonts/yekan/BYekan.ttf') format('woff');
  src: url('./assets/fonts/yekan/BYekan.woff') format('woff2');
}

@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url('./assets/icons/flUhRq6tzZclQEJ-Vdg-IuiaDsNc\ \(1\).woff2') format('woff2');
}

.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  line-height: 1;
  letter-spacing: normal;
  text-transform: none;
  display: inline-block;
  white-space: nowrap;
  word-wrap: normal;
  direction: ltr;
  -webkit-font-feature-settings: 'liga';
  -webkit-font-smoothing: antialiased;
}

*,
p,
button,
span {
  font-family: 'yekan';
}

body {
  margin: 0;
  font-family: 'yekan';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  overflow-x: hidden;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}